 <head>
 <h1>This is {{pageTitle}}</h1>
  <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/about"> About</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
 </head>